.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* or your container height */
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.card h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.card p {
  margin: 10px 0;
  font-size: 1rem;
  color: #555;
}

.card p strong {
  font-weight: bold;
}
